/* Old Code

header {
    font-size: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding: 1%;
} */

/* 

h2 {
    font-size: 75%;
}

.mainnav {
    display: flex;
    justify-content: space-evenly;
 
}

nav {
    font-size: 24px;

}

.headimage  {
    border: 10px dotted whitesmoke; 
    align-content: center;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

main {
    text-align: center;

}

.facts {
    text-align: left;

} */

/* Begin New Code 11/5/20  */

/* Universal Selector */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


/* Header */

.header {
    background: #C4C4C4;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;

    }

    /* Header Photo */

        .headimage {

        position: relative;
        object-fit: cover;
        width: 33%;
        height: auto;

        }

        /* H1 - OnlyBanj */

        h1 {

            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3em;
            color: #000000;
            margin: auto;

        }

        /* H2 * - Where We Like 'Em Big Gray & Chonky*/
        
        h2 {

        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-style: italic;
        color: #F1F1F1;
        margin: inherit;
        padding: 2%;


        }

        body {
            box-sizing: border-box;
        }

/* /* Nav Buttons  */

    /* .navbutton:first-child {

        font-weight: bold;
        background: #E0A0A0;
    }

    .navbutton {

        position: relative;
        width: 100%;
        height: 20%;
        background: #F1F1F1;
        border: 1px solid #000000;
        box-sizing: border-box;
        align-content: center;
        padding: 5%;

    } */

/* Welcome Section */

    h3 {

        font-size: 2em;
        font-style: italic;

    }

    .welcomemess {

        background: #C4C4C4;

    }

/* Banjo Facts */

    h4 {

        font-size: 2em;
        font-style: oblique;

    }

    .banjofacts {

        background: #F1F1F1;

    }

/* Banjo Bio */

    .banjobio {

        background: #F1F1F1;

    }

/* Banjo Pics */

.banjopics {

    background: #F1F1F1;

}

/* Contact Banjo */

.contactbanjo {

    background: #F1F1F1;

}

/* Footer */

footer {

    background: #E0A0A0;

}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { */

    /* .headimage {
        width: 75%;
        height: 75%;
    } */

    /* .mainnav {
        flex-wrap: wrap;
        flex-grow: 1;
    }
     */
    
/* } */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {

    .mainnav {
        display: none;
    }

/* NavBar CSS */

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #E0A0A0;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #E0A0A0;
    color: white;
  }
/* Main Navigation */

.ham {
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
  }

  /* change ham image to close */
.showClose {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        color: white;
        /* hide the menu above the screen by default */
        transform: translateY(-100%);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 0.2s ease;
      }

      .showNav {
        /* show the menu */
        transform: translateY(0);
      }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .topnav {

        display: none;
    }

/* /* Nav Buttons  */

    .navbutton:first-child {

        font-weight: bold;
        background: #E0A0A0;
    }

    .navbutton {

        position: relative;
        width: 100%;
        height: 20%;
        background: #F1F1F1;
        border: 1px solid #000000;
        box-sizing: border-box;
        align-content: center;
        padding: 1%;

    } 
   
    .headimage {
        position: relative;
        object-fit: cover;
        width: 15%;
        height: auto;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


/* Make Columns */

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
  }
/* Create four equal columns */
.column {
    flex: 50%;
    padding: 20px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

    .mainnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      .navbutton {
        float: left;
        width: 20%;
        height: 20%;
        padding: 1%;
      }
      
        /* a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      } */
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }

/* Make Columns */

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
  }

/* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
  }




}
