/* Universal Selector */
/* 10/29/2020 Need to redo all CSS to fit in with newly updated HTML */

/* * {
    /* font-family: Arial, Helvetica, sans-serif; */
/* } */ 

/* Header */

/* Old Code

header {
    font-size: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding: 1%;
} */

/* 

h2 {
    font-size: 75%;
}

.mainnav {
    display: flex;
    justify-content: space-evenly;
 
}

nav {
    font-size: 24px;

}

.headimage  {
    border: 10px dotted whitesmoke; 
    align-content: center;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

main {
    text-align: center;

}

.facts {
    text-align: left;

} */
/* Begin New Code 11/5/20  */

/* Header */

.header {
    background: #C4C4C4;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;

    }

    /* Header Photo - not cropping right to only show Banjo; need to figure that out*/

        .headimage {

        background: url(family portrait.jpg);
        border: 2px solid #FFFFFF;
        position: relative;
        width: 102px;
        height: 127px;
        object-fit: cover;
        object-position: 20% 10%;

        }

        /* H1 - OnlyBanj */

        h1 {

            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 48px;
            color: #000000;

        }

        /* H2 * - Where We Like 'Em Big Gray & Chonky*/
        
        h2 {

        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #F1F1F1;

        }

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .headimage {
        width: 75%;
        height: 75%;
    }

    .mainnav {
        flex-wrap: wrap;
        flex-grow: 1;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
