/* Old Code

header {
    font-size: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding: 1%;
} */

/* 

h2 {
    font-size: 75%;
}

.mainnav {
    display: flex;
    justify-content: space-evenly;
 
}

nav {
    font-size: 24px;

}

.headimage  {
    border: 10px dotted whitesmoke; 
    align-content: center;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

main {
    text-align: center;

}

.facts {
    text-align: left;

} */

/* Begin New Code 11/5/20  */

/* Universal Selector */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

/* Header */

.header {
    background: #C4C4C4;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;

    }

    /* Header Photo */

        .headimage {

        position: relative;
        object-fit: cover;
        width: 33%;
        height: auto;

        }

        /* H1 - OnlyBanj */

        h1 {

            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3em;
            color: #000000;
            margin: auto;

        }

        /* H2 * - Where We Like 'Em Big Gray & Chonky*/
        
        h2 {

        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-style: italic;
        color: #F1F1F1;
        margin: inherit;
        padding: 2%;


        }

/* Main Navigation */

    .mainnav {

    


    }

/* Nav Buttons */

    .navbutton:first-child {

        font-weight: bold;
        background: #E0A0A0;
    }

    .navbutton {

        position: relative;
        width: 100%;
        height: 20%;
        background: #F1F1F1;
        border: 1px solid #000000;
        box-sizing: border-box;
        align-content: center;
        padding: 5%;

    }

/* Welcome Section */

    h3 {

        font-size: 2em;
        font-style: italic;

    }

    .welcomemess {

        background: #C4C4C4;

    }

/* Banjo Facts */

    h4 {

        font-size: 2em;
        font-style: oblique;

    }

    .banjofacts {

        background: #F1F1F1;

    }

/* Banjo Bio */

    .banjobio {

        background: #F1F1F1;

    }

/* Banjo Pics */

.banjopics {

    background: #F1F1F1;

}

/* Contact Banjo */

.contactbanjo {

    background: #F1F1F1;

}

/* Footer */

footer {

    background: #E0A0A0;

}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* .headimage {
        width: 75%;
        height: 75%;
    } */

    .mainnav {
        flex-wrap: wrap;
        flex-grow: 1;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
